*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.containerto{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.bg-section{
    background: #9ACC44;
}
.card1{
    max-width: 637px;
    height: 293px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.60);
background: rgba(255, 255, 255, 0.10);
}
.card1:hover{
    background-color: #5BA72B;
color: white;
}
.card2{
    max-width: 484px;
    height: 293px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.60);
background: rgba(255, 255, 255, 0.10);
}
.card2:hover{
  background-color: #5BA72B;
}
.card3{
    /* min-height: 100%; */
    /* display: ; */
padding: 75px 65px;
justify-content: center;
align-items: center;
gap: 95px;
border-radius: 19px;
border: 7px solid #FFF;
background: #5BA72B;
}
.mw-655{
    max-width: 655px;
}
.d-flex{
    display: flex;
}
.text-white{
    color: white;
}
.position-absolutec1{
position: absolute;
right: 0;
left: 0;
width:29% ;

}
.position-absolute786{
    position: absolute;
    
    top:3%;
right:3%;
cursor: pointer;
}
.position-absolutec2{
    position: absolute;
    right: 13%;
    top:6%;
    width: 22%;

}
.position-absolutet{
    position: absolute;
    left: -10%;
    bottom:0%;

}
.opacity-30{
    opacity: 30%;
}
.card1:hover svg path{
    fill: #FFF;
    opacity: 100%;
transition: all 300ms linear;    
}
.card2:hover svg path{
    fill: #FFF;
    opacity: 100%;
transition: all 300ms linear;    
}
.tojo:hover{
    opacity: 0.9%;
}